<div class="sintesis-container">
  <!-- Photo and Personal Informatin -->
  <div class="pi-container">
    <!-- Lateral Left Fill Blue -->
    <div class="lateral-left-fill"></div>
    <!-- Personal Information -->
    <div class="pi-information">
      <img [src]="logo" alt="photo" class="avatar" />
      <span class="sp-fullname"
        >LUISA MERCEDES <br /><b>CENTENO JIMENEZ</b></span
      >
      <!-- Titulo Acerca de Mi -->
      <div class="fill-title">ACERCA DE MI</div>
      <!-- Contenido -->
      <div class="text-info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ex
        repellendus eligendi quas ducimus voluptatum tenetur cum sequi vel
        recusandae earum a sed aspernatur temporibus quis perferendis libero.
        Corporis, tenetur!
      </div>
      <!-- Habilidades y Destrezas -->
      <div class="fill-title">HABILIDADES Y DESTREZAS</div>
      <!-- Contenido -->
      <div class="flow-container">
        <!-- Habilidad #1 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">Facilidad de aprendizaje</span>
          </div>
        </div>
        <!-- Habilidad #2 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">Responsabilidad y Disciplina</span>
          </div>
        </div>
        <!-- Habilidad #3 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">Excelente relaciones interpersonales</span>
          </div>
        </div>
        <!-- Habilidad #4 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point"
              >Capacidad para adaptarse a nuevas situaciones</span
            >
          </div>
        </div>
        <!-- Habilidad #5 -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">Trabajo bajo presion</span>
          </div>
        </div>
      </div>

      <!-- Referencias Personales -->
      <div class="fill-title">REFERENCIAS PERSONALES</div>
      <!-- Contenido -->
      <div class="flow-container">
        <!-- Referencia #1 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">DIEGO ORTIZ</span>
            <small class="s-point">PROGRAMADOR</small>
            <small class="s-point">0414-148.12.23</small>
            <small class="s-point">herogamers.ortiz@gmail.com</small>
          </div>
        </div>
        <!-- Referencia #2 -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ANA QUINTANA</span>
            <small class="s-point">0414-946.72.44</small>
          </div>
        </div>
        <!-- Referencia #3 -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">MAYERLIN CASTA&Ntilde;EDA</span>
            <small class="s-point">0412-198-07-61</small>
          </div>
        </div>
      </div>
    </div>
    <!-- General Information -->
    <div class="ge-information">
      <!-- Contacto -->
      <div class="fill-r-title">CONTACTO</div>
      <div class="text-r-info">
        <ul class="list">
          <li>
            <img
              src="https://www.svgrepo.com/show/521448/age-18.svg"
              alt="Cedula"
              class="li-icon"
            />
            <span class="li-item">Edad:</span>
            <span class="li-item-value">31 A&ntilde;os</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/523222/calendar-date.svg"
              alt="Cedula"
              class="li-icon"
            />
            <span class="li-item">Fecha de Nacimiento:</span>
            <span class="li-item-value">22-11-1991</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/520795/id-card.svg"
              alt="Cedula"
              class="li-icon"
            />
            <span class="li-item">Cedula:</span>
            <span class="li-item-value">V-20.030.829</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/532540/location-pin-alt-1.svg"
              alt="location"
              class="li-icon"
            />
            <span class="li-item">Direccion:</span>
            <span class="li-item-value"
              >calle la cruz, * 110B-20 Barrio Oeste Naguanagua Edo
              Carabobo</span
            >
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/533291/phone-flip.svg"
              alt="Telefono"
              class="li-icon"
            />
            <span class="li-item">Telefono:</span>
            <span class="li-item-value">0412-481.17.09 / 0412-492-91-04</span>
          </li>
          <li>
            <img
              src="https://www.svgrepo.com/show/479773/email-8.svg"
              alt="Correo"
              class="li-icon"
            />
            <span class="li-item">Correo:</span>
            <span class="li-item-value">luisa.centeno@hotmail.com</span>
          </li>
        </ul>
      </div>

      <!-- Educacion -->
      <div class="fill-r-title">INSTRUCCI&Oacute;N ACAD&Eacute;MICA</div>
      <div class="flow-container">
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA SECUNDARIA</span>
            <small class="s-point">Diversificado: Bachiller en Ciencias </small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">2008</h1>
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">UNIVERSIDAD</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
          </div>
        </div>
      </div>

      <!-- Experiencias Laborales -->
      <div class="fill-r-title">EXPERIENCIAS LABORALES</div>
      <div class="flow-container">
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA PRIMARIA</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point">
            <span class="point-mark"></span>
            <span class="point">ESCUELA SECUNDARIA</span>
            <small class="s-point"
              >Diversificado: Bachiller en Ciencias - 2008</small
            >
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
          </div>
        </div>
        <!-- Escuela -->
        <div class="flow-content">
          <div class="flow-point flow-point-reverse">
            <span class="point-mark"></span>
            <span class="point">UNIVERSIDAD</span>
            <small class="s-point">1er a 6to Grado</small>
          </div>
          <div class="flow-body">
            <h1 class="flow-body-title">1999 - 2005</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
